<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.1-10-g22cb778-dirty  Build Version: 1.6.9106.26689
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assem11.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.075 0.25 -0.5"
        rpy="0 0 0" />
      <mass
        value="75" />
      <inertia
        ixx="7.8125"
        ixy="0"
        ixz="1.80360985842885E-16"
        iyy="6.390625"
        iyz="1.72215956130097E-17"
        izz="1.703125" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem11.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem11.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Empty_Link">
    <inertial>
      <origin
        xyz="-0.0750000000000017 0.25 -0.5"
        rpy="0 0 0" />
      <mass
        value="75" />
      <inertia
        ixx="7.81249999999999"
        ixy="-1.20370621524202E-32"
        ixz="-2.14566534056829E-14"
        iyy="6.390625"
        iyz="1.7221595613009E-17"
        izz="1.703125" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem11.SLDASM/meshes/Empty_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem11.SLDASM/meshes/Empty_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1"
    type="fixed">
    <origin
      xyz="0.849999999999996 1.15 0"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="Empty_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Empty_Link_2">
    <inertial>
      <origin
        xyz="-0.0750000000000017 0.25 -0.5"
        rpy="0 0 0" />
      <mass
        value="75" />
      <inertia
        ixx="7.81249999999999"
        ixy="-1.20370621524202E-32"
        ixz="-2.14566534056829E-14"
        iyy="6.390625"
        iyz="1.7221595613009E-17"
        izz="1.703125" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem11.SLDASM/meshes/Empty_Link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem11.SLDASM/meshes/Empty_Link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Empty_Link" />
    <child
      link="Empty_Link_2" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>